$black_24: #242424;
$orange: #FF852E;
$white: #FFFFFF;

.black_24 {
    color: $black_24;
}

.bg_black_24 {
    background: $black_24;
}

.orange {
    color: $orange;
}

.bg_orange {
    background: $orange;
}

.white {
    color: $white;
}

.bg_white {
    background: $white;
}